$color :#fcf;
body{
    background-color:$color;
    //禁用文字的选中状态
    user-select: none;
}
img{
    //进制拖动图片
    -webkit-user-drag:none ;
}

//首页布局的样式
.logo{
    height: 32px;
    margin: 16px;
    background: rgba(255,255,255,0.3);
}
.site-layout .site-layout-background{
    background: #ccc;
}